{% extends 'base.html' %}

{% block head %}
<title>Home-Employee Data Management App</title>
{% endblock %}

{% block body %}
{% if is_added %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Details of Employee are added successfully to the record.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
<h1>Welcome to Employee Data Management App</h1>
<h5>Choose one of the following operations to perform:</h5>
<div class="form-div">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Operation</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Register New Employee</td>
        <td><a href="{{ url_for('new_employee') }}" class="btn btn-outline-dark">Register</a></td
      </tr>
      {% if current_user.is_authenticated and current_user.details.user_type=="Admin" %}
        <tr>
          <td>Update Existing Employee Data</td>
          <td><a href="/update/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">Update Own</a>
              <a href="{{ url_for('update_emp') }}" class="btn btn-outline-dark">Update Other</a>
          </td>
        </tr>
        <tr>
          <td>Add Skills</td>
          <td><a href="/skills/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">Add Skill</a></td>
        </tr>
        <tr>
          <td>Add Team/Team Member</td>
          <td><a href="/teams" class="btn btn-outline-dark">Add Team/Member</a></td>
        </tr>
        <tr>
          <td>Show Team Members</td>
          <td><a href="/teams/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">View Team</a></td>
        </tr>
      {% elif current_user.is_authenticated %}
        <tr>
          <td>Update Existing Employee Data</td>
          <td><a href="/update/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">Update</a></td>
        </tr>
        <tr>
          <td>Add Skills</td>
          <td><a href="/skills/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">Add Skill</a></td>
        </tr>
        <tr>
          <td>Show Team Members</td>
          <td><a href="/teams/{{ current_user.details.emp_id }}" class="btn btn-outline-dark">View Team</a></td>
        </tr>
      {% endif %}
      <tr>
        <td>Delete Existing Employee Data</td>
        <td><a href="{{ url_for('del_emp') }}" class="btn btn-outline-dark">Delete</a></td>
      </tr>
      <tr>
        <td>Get Employee/'s Details</td>
        <td><a href="{{ url_for('readMenu') }}" class="btn btn-outline-dark">Select</a></td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}