{% extends 'base.html' %}

{% block head %}
    <title>All Details-Employee Data Management App</title>
{% endblock %}


{% block body %}
    <div class="container-fluid ps-5 pt-2">
        <h1 class="pb-3">Data of Existing Employee's</h1>
    </div>

    {% for x in AllEmp %}
        <div class="container-fluid ps-2 pe-2 pt-2">
            <p><span class="fw-bold">Name:</span> {{ x.name }}</p>
            <p><span class="fw-bold">Employee ID:</span> {{ x.emp_id }}</p>
            <p><span class="fw-bold">User Type:</span> {{ x.user_type }}</p>
            <p><span class="fw-bold">Years of Experience:</span> {{ x.years }}</p>
            <p><span class="fw-bold">Date of Birth:</span> {{ x.dob }}</p>
            <p><span class="fw-bold">Date of Joining:</span> {{ x.doj }}</p>
            <p class="skill_para fw-bold">Skill Set: </p>
            {% for skill in x.user.skills %}
                <span class="mx-3">{{ skill.name }}</span>
            {% endfor %}
            <p class="mt-2 proj_para fw-bold">Projects: </p>
            {% for proj in x.user.projects %}
                <span class="mx-3">{{ proj.name }}</span>
            {% endfor %}
            <hr>
            <br>
        </div>
    {% endfor %}
{% endblock %}