{% extends 'base.html' %}

{% block head %}
    <title>Read Menu-Employee Data Management App</title>
{% endblock %}


{% block body %}
    <div class="container-fluid ps-2 pt-2">
        <h1 class="pb-3">Employee details</h1>
    </div>
    <div class="container-fluid ps-2 pe-2 pt-2">
        <form action="/readMenu" method="post">
          <div class="mb-3">
            <label for="searchID" class="form-label">Search by Employee ID: </label>
            <input type="text" class="form-control" id="searchID" name="searchID">
          </div>
            <div class="mb-3">
                <label for="searchName" class="form-label">Search by Employee Name: </label>
                <input type="text" class="form-control" id="searchName" name="searchName">
            </div>
            <button type="submit" class="btn btn-outline-dark">Search</button>
        </form>
        {% if current_user.details.user_type == "Admin" %}
            <a href="{{ url_for('show_all') }}" class="btn btn-outline-dark my-3">Show All</a>
        {% endif %}

    </div>

    {% if not None in emp_det %}
        {% for emp in emp_det %}
                <div class="container-fluid ps-2 pe-2 pt-2">
                    <h5>Name: {{ emp.name }}</h5>
                    <p>Employee ID: {{ emp.emp_id }}</p>
                    <p>User Type: {{ emp.user_type }}</p>
                    <p>Years of Experience:{{ emp.years }}</p>
                    <p>Date of Birth: {{ emp.dob }}</p>
                    <p>Date of Joining: {{ emp.doj }}</p>
                    <p>Skill Set: {{ emp.skill_set }}</p>
                    <p>Projects: {{ emp.projects }}</p>
                    <br>
                </div>
        {% endfor %}

    {% else %}
        {% if load %}
            <div></div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show my-3" rolpye="alert">
                <strong>Not found!</strong> No record found. Try again with valid ID or Name.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}